{% extends "layout.html" %}
{% block content %}


<!-- Page Header -->
<header class="masthead" style="background-image: url('static/img/allusers.jpg') ; margin-bottom: 0px;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>All Employees</h1>
                    <span class="subheading">All added employees are here</span>
                </div>
            </div>
        </div>
    </div>
</header>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}

<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>{{msg}}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{% endfor %}
{% endif %}
{% endwith %}

<div class="container">
  
<div class="row">
  <table id="blogTable" class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">father name</th>
        <th scope="col">Contact</th>
        <th scope="col">Date created</th>
      </tr>
    </thead>
    <tbody>
      {% if employees %}
      {% for emp in employees %}
      <tr>
        <th scope="row">{{emp.id}}</th>
        <td>{{emp.empname}}</td>
        <td>{{emp.empfname}}</td>
        <td>{{emp.empnumber}}</td>
        <td>{{emp.emp_date_created.date()}}</td>
      </tr>

      {% endfor %}
      {% else %}
      <tr>
        <td colspan="6" class="text-center">No employee available</td>
      </tr>
      {% endif %}

    </tbody>
  </table>
</div>
  
</div>
 

{% endblock %}